In [18]:
import pandas as pd
import seaborn as sns

# Lecture et d√©couverte du dataframe Bitcoin

In [11]:
df_Bitcoin = pd.read_csv("btcusd_1-min_data.csv")
df_Bitcoin.head()

      Timestamp  Open  High   Low  Close  Volume                   datetime
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:01:00+00:00
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:02:00+00:00
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:03:00+00:00
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:04:00+00:00
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0  2012-01-01 10:05:00+00:00

In [13]:
df_Bitcoin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6944800 entries, 0 to 6944799
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   Timestamp  float64
 1   Open       float64
 2   High       float64
 3   Low        float64
 4   Close      float64
 5   Volume     float64
 6   datetime   object
dtypes: float64(6), object(1)
memory usage: 370.9+ MB

In [14]:
print(df_Bitcoin.shape)

(6944800, 7)

In [15]:
df_Bitcoin.isna().sum()

Timestamp         0
Open              0
High              0
Low               0
Close             0
Volume            0
datetime     162520
dtype: int64

In [17]:
df_Bitcoin.isnull().sum()

Timestamp         0
Open              0
High              0
Low               0
Close             0
Volume            0
datetime     162520
dtype: int64

## Concernant la variable timestamp

In [ ]:
df_Bitcoin["Timestamp"].values_counts()