<center><img src="https://polytech.univ-lyon1.fr/uas/polytech/LOGO/UDL_logo_blanc-01%20(2).png" alt="drawing" style="width:100px;"/></center>

# Introduction à Python pour la Data Science

## Exercices de Data Manipulation & Visualisation

## Exercice 1
On souhaite traiter le fichier «US_Baby_Names_right.csv».

In [1]:
import pandas as pd

### Question 1

- Charger le fichier «US_Baby_Names_right.csv» 
- Combien y a-t-il de variables dans le fichier ? 
- Combien y a-t-il d’observations? (info)

In [7]:
df = pd.read_csv("/Users/abdoullatifomarjee/Documents/Notebooks-Jupyter/Analyse de données/US_Baby_Names_right.csv")
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

il y a 1 065 395

### Question 2
Supprimer les colonnes 'Unnamed: 0' et 'Id'

In [13]:
df.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [14]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [15]:
df.columns

Index(['Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [16]:
df.drop('Id',axis=1,inplace=True)

In [17]:
df.columns

Index(['Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

### Question 3
Combien y a t il d'hommes et de femmes ?

In [19]:
df[df['Gender']=="H"].sum()

Name      0
Year      0
Gender    0
State     0
Count     0
dtype: object

In [ ]:
df[df['Gender']=="H"].sum()

### Question 4

- Créer le dataframa name qui donne le nombre d'occurences de chaque nom.
- Combien de noms différents dans le dataset ?
- Quel est le nom avec le plus d'occurences ?
- Combien de noms ont le moins d'occurences possibles ?

## Exercice 2
On souhaite traiter le fichier «tips.csv».

### Question 1

- Charger le fichier «tips.csv» 
- Combien y a-t-il de variables dans le fichier ? 
- Combien y a-t-il d’observations? (info)

### Question 2
Supprimer la colonne Unnamed 0

### Question 3
- Afficher l'histogramme de la colonne total_bill

### Question 4
- Afficher le nuage de points qui montre la relation entre tip et total_bill

### Question 5
- Afficher la relation entre total_bill, tip et size

### Question 6
- Afficher la relation entre days et total_bill

### Question 7
- Afficher le nuage de points avec les jours en y et tip en x. Mettre une couleur différente en fonction de sex

### Question 8
- Afficher un box plot de la relation entre total_bill, le jour et le type de repas

### Question 9
- Afficher deux histogrammes de la relation entre tip et le type de repas

### Question 10
- Afficher deux nuages de points. Un pour les hommes et l'autre pour les femmes. Ils montreront la relation entre total_bill et tip, en différenciant par smoker ou no smoker.

## Exercice 3
On souhaite traiter le fichier «titanic-disaster.csv».

### Question 1

- Charger le fichier «titanic-disaster.csv» 
- Combien y a-t-il de variables dans le fichier ? 
- Combien y a-t-il d’observations? (info)

### Question 2
- Créer un camembert de la répartition hommes/femmes

### Question 3
- Afficher un nuage de points entre Fare et l'âge, en différenciant la couleur avec gender

### Question 4
- Combien de personnes ont survécu ?

### Question 5
- Afficher un histogramme avec Fare

## Enseignant
Patrice Mazel - patrice.mazel@protonmail.com - 3A MAM 2023/2024